<% include partials/header %>
    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-cloud"></i>AssOnCloud</h1>
        <p class="lead">All your assignments in one place!</p>
        <hr class="4">
    </div>
    
    <div class="container">
        <h3 class="yearText">Computer Engineering</h3>
        <div class="row justify-content-center">
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/comps/2" role="button">Second Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/comps/3" role="button">Third Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/comps/4" role="button">Fourth year</a></div>
        </div>
        <hr class="4">
        
        <h3 class="yearText">Electronics Engineering</h3>
        <div class="row justify-content-center">
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/electronics/2" role="button">Second Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/electronics/3" role="button">Third Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/electronics/4" role="button">Fourth year</a></div>
        </div>
        <hr class="4">
        
        <h3 class="yearText">Information Technology</h3>
        <div class="row justify-content-center">
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/it/2" role="button">Second Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/it/3" role="button">Third Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/it/4" role="button">Fourth year</a></div>
        </div>
        <hr class="4">
        
        <h3 class="yearText">Electronics and Telecommunication Engineering</h3>
        <div class="row justify-content-center">
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/extc/2" role="button">Second Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/extc/3" role="button">Third Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/extc/4" role="button">Fourth year</a></div>
        </div>
        <hr class="4">
        
        <h3 class="yearText">Instrumentation Engineering</h3>
        <div class="row justify-content-center">
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/instru/2" role="button">Second Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/instru/3" role="button">Third Year</a></div>
            <div class="col-sm-auto"><a class="btn btn-outline-info" href="/instru/4" role="button">Fourth year</a></div>
        </div>
        <hr class="4">
    </div>
<% include partials/footer %>